@import '_variables.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: $dark;
}